@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 100%;
}

@media screen and (max-width: 768px ) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

/* .tawk-card:nth-child(1) {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.tawk-chatinput-container {
  visibility: hidden;
} */
